.navbar{
    display: flex;
    height:80px;
    background-color: rgb(3, 2, 0);
    width:100vw;
    position:sticky;
    top: 0;
}
a{
    margin-top: 19px;
    color: rgb(109, 24, 207);
    font-size: 30px;
    cursor: pointer;
    scroll-behavior:smooth;
    transition: all 0.3s;
}
.sign-in{
    margin-top: 19px;
    height: 40px;
    width:70vw;
    margin-left: 1vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(184, 22, 22);
    color: white;
    padding:auto;
    cursor: pointer;
    margin-right: 10px;
}
.navimg{
height:40px;
margin-top:16px;
margin-left: 20px;
}
select{
    margin-left: 25vw;
    height: 40px;
    margin-top: 19px;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    padding: auto;
    cursor: pointer;
}