.banner {
  background-size: cover;
  width: 100%;
  padding-bottom: 5vw;
  height: 650px;
}
.buttons {
  padding-top: 0px;
  margin-left: 50px;
}
.button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  padding: auto;
  cursor: pointer;
  background-color: rgba(231, 10, 21, 0.904);
  border-radius: 5px;
  border: none;
}
.desc {
  margin-top: 20px;
  margin-left: 30px;
  color: white;
  font-size: 20px;
  line-height: 1.9rem;
}
.navigate{
margin-top: 300px;
width: 40px;
height: 100px;
padding: auto;
cursor: pointer;
background-color: transparent;
font-size: 50px;
color: rgb(17, 243, 217);
border: transparent;
}
.navigate1{
padding: auto;
cursor: pointer;
background-color: transparent;
font-size: 50px;
color: rgb(17, 243, 217);
border: transparent;
margin-left: 94%;
}
